
/*choose*/

*{
margin:0 0 0 0; /*top right bottom left*/
padding:0 0 0 0;
font-family: 'Solway', serif;
color: #fbe3df;
}

body {
  background-image: url("background/start.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1{
	margin: 6vw 18vw 0 20vw;
	letter-spacing: 0.1vw;
	font-size: 4vw;
	text-align: justfied;
	font-weight: lighter;
}

p{
	font-style:italic;
}

.column3{
  float: left;
  width: 11%;
  margin-right:11vw;
  margin-top:4vw;
}

.column2{
  float: left;
  width: 9%;
  margin-right:14vw;
  margin-top:9vw;
}

.column1{
  float: left;
  width: 13%;
  margin-right:12vw;
}

.column1 p{
	position:relative;
	text-align:center;
	bottom:-2vw;
	left:-1vw;
	visibility:hidden;
	-webkit-transition-duration: 0.2s; /* Safari */
	transition-duration: 0.2s;
}

.column2 p,.column3 p{
	position:relative;
	text-align:center;
	bottom:-1vw;
	visibility:hidden;
	-webkit-transition-duration: 0.2s; /* Safari */
	transition-duration: 0.2s;
}

.column2:hover p,.column1:hover p,.column3:hover p{
	transform: scale(1.1);
	visibility:visible;
	-webkit-transition-duration: 0.2s; /* Safari */
	transition-duration: 0.2s;
}

img:hover{
transform: scale(1.1);
-webkit-transition-duration: 0.4s; /* Safari */
transition-duration: 0.4s;
}

.row{
margin-left:22vw;
margin-top: 3vw;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

img{
-webkit-transition-duration: 0.4s; /* Safari */
transition-duration: 0.4s;
}